In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [15]:
data = pd.read_csv("../learningSet.csv")
data

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [3]:
data.columns = [col.lower().replace(' ','_') for col in data.columns] #standardizing headers

In [4]:
data.head()

,odatedw,osource,tcode,state,zip,mailcode,pvastate,dob,noexch,recinhse,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### Check for null values in all the columns

In [5]:
data.isnull().sum()

odatedw       0
osource       0
tcode         0
state         0
zip           0
           ...
mdmaud_r      0
mdmaud_f      0
mdmaud_a      0
cluster2    132
geocode2    132
Length: 481, dtype: int64

In [6]:
columns_with_nulls = data.columns[data.isnull().any()]
print(columns_with_nulls) #displaying columns which have nulls

Index(['age', 'numchld', 'income', 'wealth1', 'mbcraft', 'mbgarden', 'mbbooks',
       'mbcolect', 'magfaml', 'magfem', 'magmale', 'pubgardn', 'pubculin',
       'pubhlth', 'pubdoity', 'pubnewfn', 'pubphoto', 'pubopp', 'wealth2',
       'msa', 'adi', 'dma', 'adate_3', 'adate_4', 'adate_5', 'adate_6',
       'adate_7', 'adate_8', 'adate_9', 'adate_10', 'adate_11', 'adate_12',
       'adate_13', 'adate_14', 'adate_15', 'adate_16', 'adate_17', 'adate_18',
       'adate_19', 'adate_20', 'adate_21', 'adate_22', 'adate_23', 'adate_24',
       'rdate_3', 'rdate_4', 'rdate_5', 'rdate_6', 'rdate_7', 'rdate_8',
       'rdate_9', 'rdate_10', 'rdate_11', 'rdate_12', 'rdate_13', 'rdate_14',
       'rdate_15', 'rdate_16', 'rdate_17', 'rdate_18', 'rdate_19', 'rdate_20',
       'rdate_21', 'rdate_22', 'rdate_23', 'rdate_24', 'ramnt_3', 'ramnt_4',
       'ramnt_5', 'ramnt_6', 'ramnt_7', 'ramnt_8', 'ramnt_9', 'ramnt_10',
       'ramnt_11', 'ramnt_12', 'ramnt_13', 'ramnt_14', 'ramnt_15', 'ramnt_16',
       'ramnt_17', 'ramnt_18', 'ramnt_19', 'ramnt_20', 'ramnt_21', 'ramnt_22',
       'ramnt_23', 'ramnt_24', 'nextdate', 'timelag', 'cluster2', 'geocode2'],
      dtype='object')

### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
- OSOURCE - symbol definitions not provided, too many categories
- ZIP CODE - we are including state already

In [7]:
drop_list = []
drop_list.append("osource")
drop_list.append("zip")

In [8]:
data2 = data.copy()
data2

,odatedw,osource,tcode,state,zip,mailcode,pvastate,dob,noexch,recinhse,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [9]:
data2.drop(columns=drop_list, inplace=True)
data2

,odatedw,tcode,state,mailcode,pvastate,dob,noexch,recinhse,recp3,recpgvg,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

### Identify columns that over 85% missing values

In [10]:
nulls = pd.DataFrame(data2.isna().sum()*100/len(data2), columns=['percentage'])#checking percentage missing for all columns
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
rdate_5    99.990567
ramnt_5    99.990567
rdate_3    99.746363
ramnt_3    99.746363
rdate_4    99.705488
ramnt_4    99.705488
ramnt_6    99.186685
rdate_6    99.186685
ramnt_15   92.388798
rdate_15   92.388798
rdate_23   91.763091
ramnt_23   91.763091
rdate_20   91.732696
ramnt_20   91.732696
ramnt_7    90.677273
rdate_7    90.677273
ramnt_17   90.146942
rdate_17   90.146942
rdate_21   90.029556
ramnt_21   90.029556
ramnt_10   89.035970
rdate_10   89.035970
ramnt_13   87.160944
rdate_13   87.160944
numchld    87.018404
rdate_11   84.551209
ramnt_11   84.551209
rdate_19   83.359535
ramnt_19   83.359535
rdate_9    82.461326
ramnt_9    82.461326
ramnt_24   81.409047
rdate_24   81.409047
rdate_18   79.270951
ramnt_18   79.270951
rdate_22   78.123297
ramnt_22   78.123297
ramnt_8    77.495493
rdate_8    77.495493
ramnt_14   75.561774
rdate_14   75.561774
ramnt_12   73.064185
rdate_12   73.064185
ramnt_16   71.707961
rdate_16   71.707961
adate_15   68.625540
adate_23   58.975810
mbcolect   55.458433
pubdoity   55.395548
mbgarden   55.395548

In [11]:
too_many_nulls = list(nulls[nulls['percentage'] > 85].index)
too_many_nulls #displaying columsn with nulls > 85%

['numchld',
 'rdate_3',
 'rdate_4',
 'rdate_5',
 'rdate_6',
 'rdate_7',
 'rdate_10',
 'rdate_13',
 'rdate_15',
 'rdate_17',
 'rdate_20',
 'rdate_21',
 'rdate_23',
 'ramnt_3',
 'ramnt_4',
 'ramnt_5',
 'ramnt_6',
 'ramnt_7',
 'ramnt_10',
 'ramnt_13',
 'ramnt_15',
 'ramnt_17',
 'ramnt_20',
 'ramnt_21',
 'ramnt_23']

### Remove those columns from the dataframe

In [12]:
data3 = data2.drop(columns=too_many_nulls)
data3.head()

,odatedw,tcode,state,mailcode,pvastate,dob,noexch,recinhse,recp3,recpgvg,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A

### Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [13]:
def clean_gender(x):
    x = str(x).lower()
    if x.startswith("m"):
        return "M"
    elif x.startswith ("f"):
        return "F"
    else: 
        return "other"

In [14]:
data3["gender"] = data3["gender"].apply(clean_gender)
data3["gender"].value_counts()

F        51277
M        39094
other     5041
Name: gender, dtype: int64